.container {
    margin-top: 100px;
    padding: 10px;
}

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.interaction {
    background-color: rgba(63, 89, 126, 0.7);
    padding: 20px;
    margin: 0;
}

.route-img {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}



.location {
    grid-area: loc;
}

#button {
    background-color: #bcb18b;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#button:hover {
    background-color: burlywood;
}

.routeHeader2 {
    margin: 20px 0 20px 0;
    font-size: 200%;
}

.route-nav {
    display: grid;
    grid-template-areas: 
    'north north'
    'west east'
    'south south';
    grid-area: nav;
    margin-top: 10px;
}
.route-nav > button {
    height: 40px;
    background-color: #bcb18b;
    border: 1px solid black;
}
.route-nav > button:hover {
    background-color: burlywood;
}
#buttonNoord {
    grid-area: north;
}
#buttonOost {
    grid-area: east;
}
#buttonZuid {
    grid-area: south;
}
#buttonWest {
    grid-area: west;
}




@media screen and (max-width: 800px) {
    
    

    
    .route-img {
        margin: 0 auto;
    }

    .interaction {
        height: 200px;
        margin: 0 auto;
        font-size: 90%;
    }

    .routeHeader2 {
        margin: 0;
    }
    .location {
        margin: 0;
    }

}

@media screen and (max-width: 500px) {

    .interaction {
        font-size: 75%;
    }
}