* {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #557ca1;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
    background-attachment: fixed;
}

/* Header and navigation styling */

header {
    background-color: rgba(63,89,126, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50%;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 80px;
    font-size: 120%;
}
header > .logo {
    width: 80px;
    position: fixed;
    top: 20px;
    right: 10px;
}


.mainNavigation > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 0;
    margin: 0;
    margin-left: 40px;
}
.mainNavigation > ul > li {
    padding: 5px 15px 5px 15px;
}
.mainNavigation > ul > li > a {
    color: white;
    text-decoration: none;

    width: 100%;
    height: 100%;
}



@keyframes vibrantButton {
    from {
        background-color: #bcb18b;
    } to {
        background-color: #c5c797;
    }
}
@keyframes vibrantButtonReverse {
    from {
        background-color: #c5c797;
    } to {
        background-color: #bcb18b;
    }
}

.ticketTop, .buyTickets {
    padding: 15px 25px 15px 25px;
    background: #bcb18b; 
    color: white;
    border: none;
    font-size: 110%;
    animation: vibrantButtonReverse 0.5s;
    cursor: pointer;
}
.ticketTop:hover, .buyTickets:hover {
    animation: vibrantButton 0.5s;
    background-color: #c5c797;
}

.buyTickets {
    margin: 0;
}

/*-------------------------------------*/

.image-top {
    padding: 0;
    margin: 0;
    height: 100vh;
    max-height: 1080px;
    width: 100%;
    background: none;
}
.image-top > h1 {
    padding-left: 80px;
    margin-left: 40px;
    padding-top: 130px;
    margin-bottom: 0px;
    margin-top: 0px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 600%;
    text-align: left;
}
.image-top h2 {
    padding-left: 80px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 400%;
    text-align: left;
}

.image-top > button {
    margin-left: 120px;
    margin-top: 200px;

    width: 300px;
    height: 75px;
    font-size: 200%;

    cursor: pointer;
    background-color: #bcb18b;
    color: white;
    border: none;
    animation: vibrantButtonReverse 0.5s;
}
.image-top > button:hover {
    animation: vibrantButton 0.5s;
    background-color: #c5c797;
}

main {
    color: white;
}

/*-------------------------------------*/

section {
    background-color: rgba(63, 89, 126, 0.7);
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 0px 20px;

}

section > h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 250%;
    text-align: center;
}
section > h2 {
    margin: 0;
    font-size: 200%;
    text-align: center;
}
section > h3 {
    margin: 0;
    font-size: 175%;
    text-align: center;

    margin-bottom: 10px;
}
section > h4 {
    margin: 0;
    font-size: 160%;
    text-align: center;

    margin-bottom: 10px;
}
section > p {
    font-size: 150%;

    padding-right: 20px;
    margin: 0;
}

/*-------------------------------------*/

.tentoonstellingen {
    display: grid;
    grid-template-areas: 
    'h1 h1 h1 h1 h1'
    'h2 h2 h2 h2 h2'
    'h3 h3 h3 h3 h3'
    'x x slider slider slider'
    'p p img img img';
}
.tentoonstellingen > h1 {
    grid-area: h1;
}
.tentoonstellingen > h2 {
    grid-area: h2;
}
.tentoonstellingen > h3 {
    grid-area: h3;
}
.tentoonstellingen > p {
    grid-area: p;
    margin-bottom: 20px;
}
.tentoonstellingen > img {
    grid-area: img;
    max-width: 500px;
    max-height: 600px;
    height: auto;
}
.tentoonstellingen > .slider {
    grid-area: slider;
}

@keyframes selector {
    from {    
        background-color: #bcb18b;
    } to {
        background-color: #c5c797;
    }
}
@keyframes selectorReverse {
    from {    
        background-color: #c5c797;
    } to {
        background-color: #bcb18b;
    }
}

.slider {
    display: flex;
    justify-content: center;

    margin: 10px 0 10px 0;
}
#slider-left {
    margin-right: 10px;
    cursor: pointer;
}
#slider-right {
    margin-left: 10px;
    cursor: pointer;
}
.slider > button {
    width: 150px;
    height: 30px;
    font-size: 125%;
    background-color: #bcb18b;
    border: none;
    color: white;
    animation: selectorReverse 0.5s;
}
.slider > button > p {
    margin: 0;
}
.slider > button:hover {
    animation: selector 0.5s;
    background-color: #c5c797;
}


.reviews {
    display: grid;
    grid-template-areas: 
    'h1 h1 h1 h1 h1'
    'r1 r1 r1 r1 r1'
    'r2 r2 r2 r2 r2'
    'r3 r3 r3 r3 r3';
}
.reviews > h1 {
    grid-area: h1;
}
.reviews > .r1 {
    grid-area: r1;
}
.reviews > .r2 {
    grid-area: r2;
}
.reviews > .r3 {
    grid-area: r3;
}

.reviews > section {
    background: none;
    border-bottom: solid 2px white;
    margin: 0px;
    padding: 0px;
}
.reviews > section:last-of-type {
    border-bottom: none;
}

.reviews > section > figure {
    margin: 20px 0px 20px 0px;
    padding: 0px;

    width: 100%;

    display: flex;
    justify-content: center;
}

.reviews img {
    width: 60%;
    height: auto;
    
}

.reviewTitle {
    margin-top: 20px;
    margin-bottom: 10px;
}
.reviewPar {
    text-align: center;
}

.info {
    margin-bottom: 20px;
}

.info > .container {
    display: flex;

    text-align: center;
}

.info > .container > .openTimeContainer {
    width: 50%;
}
.info > .container > .addressContainer {
    width: 50%;
}
.info > .container > div > .openTimeList {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}
.info > .container > div > .openTimeList td {
    padding-left: 10px;
    padding-right: 10px;
}
.info > .container > div > .addressParagraph {
    max-width: 35ch;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
}

.tickets > .ticketPriceList {
    width: 50%;
    margin: 0 auto;
}
.tickets > .ticketPriceList td {
    width: 50%;
    text-align: center;
}
.tickets > .ticketPriceList > tbody > tr > th {
    height: 72px;
}

@media screen and (max-width: 1000px) {
    header {
        font-size: 110%;
        gap: 40%;
    }
    nav > ul > li {
        margin-right: 15px;
    }


    .image-top > button {
        margin-top: 60px;
    }
    
    
    .tentoonstellingen > img {
        max-width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 60px;
        font-size: 90%;
        gap: 30%;
    }
    
    nav > ul {
        height: 60px
    }
    nav > ul > li > a {
        color: white;
        display: block;
        line-height: 60px;
    }
}


@media screen and (max-width: 700px) {

    header {
        gap: 20%;
    }

    .tentoonstellingen {
        display: block;
    }
    .tentoonstellingen > p {
        width: 100%;
        text-align: center;
    }
    .tentoonstellingen > img {
        max-width: none;
        width: 100%;
    }


    .reviews img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .mainNavigation > ul {
        margin-left: 10px;
    }
    .mainNavigation > ul > li {
        margin: 0;
    }

    .image-top > h1 {
        font-size: 400%;
    }
    .image-top > h2 {
        font-size: 300%;
    }

    .reviews {
        font-size: 90%;
    }

    .info > .container {
        display: block;
    }
    .info > .container > .openTimeContainer {
        width: 100%;
    }
    .info > .container > .addressContainer {
        width: 100%;
    }
}

@media screen and (max-height: 600px) {
    .image-top > h1 {
        padding-top: 90px;
    }

    .image-top > button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: auto;
        justify-content: center;
    }
    .mainNavigation {
        height: auto;
    }
    .mainNavigation > ul {
        display: block;
        height: auto;
    }
    .mainNavigation > ul > li {
        padding: 0;
        margin-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
        background:rgba(0, 0, 0, 0.5);
    }
    .mainNavigation > ul > li > a {
        line-height: 35px;
        text-align: center;
    }

    .ticketTop {
        visibility: hidden;
        display: none;
    }

    .image-top {
        background: none;
        padding: 0;
        margin: 0;
    }

    .image-top > h1 {
        padding-top: 170px;
        padding-left: 10px;
        margin-left: 30px;
        text-align: left;
    }
    .image-top > h2 {
        margin-left: 30px;
        padding-left: 10px;
        text-align: left;
    }
    .image-top > button {
        margin-left: 40px;
    }

    .info > .title {
        font-size: 200%;
    }
    
}

@media screen and (max-height: 450px) {
    .image-top > h1 {
        font-size: 400%;
        padding-top: 80px;
    }
    .image-top > h2 {
        font-size: 350%;
    }

    .image-top > button {
        margin-top: 10px;
    }
}