body {
    margin: 0px;
    background-color: #557ca1;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
    background-attachment: fixed;
}

/* Header and navigation styling */

header {
    background-color: rgba(63,89,126, 0.5);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 80px;
}
header > .logo {
    width: 80px;
    position: fixed;
    top: 20px;
    right: 10px;
}

nav {
    height: 100%;
}

nav > ul {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0 0 0 40px;
}

nav > ul > li {
    height: 100%;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

nav > ul > li > a {
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 80px;
    text-decoration: none;
    padding-left: 10px;
}
nav > ul > li:last-child {
    height: 50px;
    margin-right: 0;
    width: 140px;
}

@keyframes vibrantButton {
    from {
        background-color: #bcb18b;
    } to {
        background-color: #c5c797;
    }
}
@keyframes vibrantButtonReverse {
    from {
        background-color: #c5c797;
    } to {
        background-color: #bcb18b;
    }
}

#nav-tickets {
    animation: vibrantButtonReverse 0.5s;
    background-color: #bcb18b;
    color: white;
    line-height: 48px;
    text-align: center;
    padding: 0;
}
#nav-tickets:hover {
    animation: vibrantButton 0.5s;
    background-color: #c5c797;
}

.active-link {
    background-color: rgba(85,124,161, 0.5);
    border-radius: 2px;
    color: white;
}

/*-------------------------------------*/

.image-top {
    height: 100vh;
    max-height: 1080px;
    color: white;
    width: 100%;
}
.image-top h1 {
    padding-left: 80px;
    margin-left: 40px;
    padding-top: 130px;
    margin-bottom: 0px;
    margin-top: 0px;

    font-size: 500%;
}
.image-top h2 {
    padding-left: 80px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;


    font-size: 400%;
}

.image-top > button {
    margin-left: 120px;
    margin-top: 200px;

    width: 300px;
    height: 75px;
    font-size: xx-large;

    cursor: pointer;
    background-color: #bcb18b;
    color: white;
    border: none;
    animation: vibrantButtonReverse 0.5s;
}
.image-top > button:hover {
    animation: vibrantButton 0.5s;
    background-color: #c5c797;
}

main {
    color: white;
}

section {
    background-color: #3f597e;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 0px 20px;
}
section > h2 {
    margin-bottom: 0px;
}
section > h3 {
    margin-top: 10px;
}
.section-inside {
    display: flex;
    justify-content: center;
}

@keyframes slider {
    33% {
        background: url("../img/reviews/2.jpg");
        background-repeat: no-repeat;
    }
    66% {
        background: url("../img/reviews/3.jpg");
        background-repeat: no-repeat;
    }
    100% {
        background: url("../img/reviews/1.jpg");
        background-repeat: no-repeat;
    }
}
section > .section-inside > figure {
    background-image: url("../img/reviews/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 10px;
    width: 375px;
    height: 281px;

    animation: slider 20s;
    animation-iteration-count: infinite;
}

section > .section-inside:last-child {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}
section > .section-inside > div > .review > h3 {
    margin: 0;
}
section > .section-inside > div > .review > p {
    margin: 0;
}
section > .section-inside > div > .review {
    border-bottom: 1px solid white;
}
section > .section-inside > div > .review:last-child {
    border-bottom: none;
}

h1 {
    margin-top: 0px;
}

@keyframes selector {
    from {    
        background-color: #bcb18b;
    } to {
        background-color: #c5c797;
    }
}
@keyframes selectorReverse {
    from {    
        background-color: #c5c797;
    } to {
        background-color: #bcb18b;
    }
}

#tts-selector {
    display: flex;
    justify-content: center;

    margin: 20px 0 0 0;
}
#slider-left {
    margin-right: 10px;
    cursor: pointer;
}
#slider-right {
    margin-left: 10px;
    cursor: pointer;
}
#tts-selector > button {
    width: 150px;
    height: 50px;
    font-size: 125%;
    background-color: #bcb18b;
    border: none;
    color: white;
    animation: selectorReverse 0.5s;
}
#tts-selector > button > p {
    margin: 0;
}
#tts-selector > button:hover {
    animation: selector 0.5s;
    background-color: #c5c797;
}

@media screen and (max-height: 1150px) {
    .image-top h1 {
        padding-left: 80px;
        margin-left: 40px;
        padding-top: 130px;
        margin-bottom: 0px;
        margin-top: 0px;
    
        font-size: 400%;
    }
    .image-top h2 {
        padding-left: 80px;
        margin-left: 40px;
        margin-top: 0px;
    
    
        font-size: 300%;
    }

    section > .section-inside > img {
        width: auto;
        height: 300px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1050px) {
    
    header {
        font-size: 70%;
    }

    .image-top h1 {
        padding-top: 160px;
    }

    main > .image-top > button {
        margin-top: 100px;
    }

}


@media screen and (max-width: 950px) {

    nav > ul > li {
        margin-right: 20px;
    }

    section {
        padding: 0 20px 20px 20px;
        margin: 20px 20px 0px 20px;
    }
    .section-inside {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section > .section-inside > img {
        height: 200px;
    }

    

}

@media screen and (max-width: 780px) {
    
    header {
        font-size: 60%;
    }

    nav > ul > li {
        margin-right: 5px;
    }

    .image-top {
        height: 100vh;
        max-height: 1080px;
    }
    
    .image-top h1 {
        padding-left: 40px;
        margin-left: 20px;
        padding-top: 190px;
        margin-bottom: 0px;
        margin-top: 0px;
    
        font-size: 350%;
    }
    .image-top h2 {
        padding-left: 40px;
        margin-left: 20px;
        margin-top: 0px;
    
    
        font-size: 250%;
    }
    .image-top > button {
        margin-left: 60px;
    }

    section {
        padding: 0 20px 20px 20px;
        margin: 20px 20px 0px 20px;
    }
    section > h2 {
        height: 60px;
    }
    .section-inside {
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .section-inside > p {
        height: 200px;
    }
    section > .section-inside > img {
        display: block;
        margin: 0 auto;
        height: 300px;
    }

}

@media screen and (max-width: 700px) {

    header {
        height: auto;
    }

    header > nav {
        margin: 0 auto;
        width: 30%;
    }

    header > nav > ul {
        display: block;
        margin: 0
    }
    header > nav > ul > li {
        height: 40px;
        margin: 0;
        padding: 0;
    }
    header > nav > ul > li > a {
        text-align: center;
        line-height: 40px;
        padding: 0;
    }

    main > .image-top > button {
        width: 0px;
        height: 0px;
        padding: 0;
        margin: 0;
    }

    .image-top h1 {
        padding-left: 20px;
        margin-left: 20px;
        padding-top: 300px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .image-top h2 {
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 0px;
    }
    
    .image-top > button {
        visibility: collapse;
    }

    main {
        font-size: 70%;
    }

    .section-inside > p {
        height: 100px;
    }
    
}

@media screen and (max-width: 550px) {

    

    .image-top h1 {
        padding-left: 20px;
        margin-left: 20px;
        padding-top: 250px;
        margin-bottom: 0px;
        margin-top: 0px;
    
        font-size: 300%;
    }
    .image-top h2 {
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 0px;
    
    
        font-size: 200%;
    }

    section {
        padding: 0 10px 10px 10px;
        margin: 10px 10px 0px 10px;
    }
    .section-inside {
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .section-inside > p {
        height: 130px;
    }
    section > .section-inside > img {
        display: block;
        margin: 0 auto;
        height: 250px;
        padding: 0;
    }

}

@media screen and (max-width: 475px) {

    

    .section-inside > p {
        height: 170px;
    }
}