body {
    margin: 0px;
    background-color: lightslategray;
    font-size: 150%;
}

/* Header and navigation styling */

header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    height: 80px;
}


header > .logo {
    width: 80px;
    position: fixed;
    top: 20px;
    right: 20px;
}

nav li {
    display: inline;
    margin-right: 40px;
    color: white;
    font-size: 20px;
}
nav ul {
    margin-left: 80px;
}
nav a {
    text-decoration: none;
    color: white;
}
.active-link {
    background-color: white;
    border: 5px solid white;
    border-radius: 2px;
    color: black;
}

/*-------------------------------------*/

main {
    background-color: lightgray;
}

.image-top {
    background-image: url("https://placekitten.com/1920/1080");
    height: 100vh;
    max-height: 1080px;
}

.section-2 {
    padding: 80px;
    margin: 40px;
    background-color: rgb(40, 87, 133);
}
.tts-wrapper {
    display: flex;
}
.section-2  p {
    max-width: 50%;
    margin-right: 20px;
}
.section-2  img {
    max-width: 50%;
    height: auto;
}

.section-3 {
    padding: 80px;
    margin: 40px;
    background-color: rgb(40, 87, 133);
}
.rev-wrapper {
    display: flex;
}
.section-3  p {
    max-width: 50%;
    margin-right: 20px;
}
.section-3  img {
    max-width: 40%;
    height: auto;
}

.image-top h1 {
    padding-left: 80px;
    margin-left: 40px;
    padding-top: 130px;
    margin-bottom: 0px;
    margin-top: 0px;

    font-size: 500%;
}
.image-top h2 {
    padding-left: 80px;
    margin-left: 40px;
    margin-top: 0px;


    font-size: 400%;
}






@media screen and (max-width: 750px) {
    nav li {
        display: inline;
        margin-right: 10px;
        color: white;
        font-size: 20px;
    }
    nav ul {
        margin-left: 20px;
    }
    header {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        position: fixed;
        width: 100vw;
        top: 0;
        right: 0;
        height: 80px;
    }



    .image-top {
        background-image: url("https://placekitten.com/1920/1080");
        height: 100vh;
        max-height: 1080px;
    }

    .tts-wrapper {
        display: inline;
    }
    .section-2 {
        padding: 20px;
        margin: 20px;
        background-color: rgb(40, 87, 133);
    }
    .section-2  p {
        margin: 0px;
        max-width: 100%;
        margin-right: 20px;
    }
    .section-2  img {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    .section-3 {
        padding: 20px;
        margin: 20px;
        background-color: rgb(40, 87, 133);;
    }
    
    .image-top h1 {
        padding-left: 40px;
        margin-left: 20px;
        padding-top: 130px;
        margin-bottom: 0px;
        margin-top: 0px;
    
        font-size: 500%;
    }
    .image-top h2 {
        padding-left: 40px;
        margin-left: 20px;
        margin-top: 0px;
    
    
        font-size: 400%;
    }
}
@media screen and (max-width: 550px) {
    nav li {
        display: block;
        margin-right: 0px;
        color: white;
        font-size: 20px;
        margin-bottom: 15px;
    }
    nav ul {
        margin-top: 10px;
        margin-left: 10px;
        padding-top: 5px;
    }
    header {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        height: 140px;
    }

    .image-top h1 {
        padding-left: 20px;
        margin-left: 20px;
        padding-top: 130px;
        margin-bottom: 0px;
        margin-top: 0px;
    
        font-size: 430%;
    }
    .image-top h2 {
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 0px;
    
    
        font-size: 330%;
    }
}